<app-two-column-form>

</app-two-column-form>
<ng-container *ngIf="request.status != 0 && requestDetail.status != 0">
    <form [formGroup]="requestDetailForm" (ngSubmit)="updateRequest()" class="admin-form">
        <div class="admin-form-items">

            <!-- <div class="admin-form-item">
                <label>Complainer</label>
                <input type="text" value="{{request.idComplainNavigation.fullname}}" readonly>
            </div>
            <div class="admin-form-item">
                <label>Department</label>

                <input type="text" value="{{request.idDepartmentNavigation.tenDepartment}}" readonly>

            </div>
            <div class="admin-form-item">
                <label>Handle</label>

                <input type="text" value="{{request.idHandleNavigation.fullname}}" readonly>

            </div>
            <div class="admin-form-item">
                <label>Title</label>

                <input type="text" readonly value="{{request.title}}">

            </div>
            <div class="admin-form-item w-100">
                <label>Reason</label>

                <textarea cols="150" rows="5" readonly class="w-100">{{requestDetail.reason}}</textarea>

            </div>
            <div class="admin-form-item w-100">
                <label>File</label>
                <div class="d-flex  justify-content-start">
                    <div *ngFor="let re of requestFile">
                        <a href="{{re.name}}" target="_blank">
                            <img src="https://localhost:7007/RequestFile/{{re.file}}" style="margin-right: 20px;" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="admin-form-item w-100">
                <label>Sent Date:
                    <p>{{request.sentDate}}</p>
                </label>

            </div> -->
            <div class="admin-form-item w-100">
                <label>Reply</label>
                <textarea formControlName="reply" cols="150" rows="5" class="w-100"></textarea>
            </div>
            <div class="admin-form-item  w-100">
                <label class="w-100">Status: </label> Solving
                <input type="radio" formControlName="status" value="1"> Add more information
                <input type="radio" formControlName="status" value="2"> Untreated
                <input type="radio" formControlName="status" value="3"> Completed
                <input type="radio" formControlName="status" value="4">

            </div>
            <div class="admin-form-item w-100">
                <div class="form-button">
                    <label><input type="submit" value="Save" class="btn btn-primary button-submit"></label>
                </div>

            </div>

        </div>
        <!-- <input type="hidden" formControlName="senDate">
            <input type="hidden" formControlName="id">
            <input type="hidden" formControlName="idRequest"> -->
    </form>

</ng-container>