<app-two-column-form>
    
</app-two-column-form>
<ng-container *ngIf="request.status != 0 && requestDetail.status != 0">
    <form [formGroup]="requestDetailForm" (ngSubmit)="updateRequest()" class="admin-form">
        <table>
            <tr class="admin-form-item">
                <td>Reply</td>
                <td><textarea formControlName="reply" cols="150" rows="5"></textarea></td>
            </tr>
            <tr class="admin-form-item">
                <td>Status: </td>
                <td>
                    Solving <input type="radio" formControlName="status" value="1"> Add more information <input type="radio" formControlName="status" value="2"> Untreated <input type="radio" formControlName="status" value="3"> Completed <input type="radio"
                        formControlName="status" value="4">
                </td>
            </tr>
            <tr class="admin-form-item ">
                <div class="form-button">
                    <td><input type="submit" value="Save" class="btn btn-primary button-submit"></td>
                </div>

            </tr>
        </table>
        <!-- <input type="hidden" formControlName="senDate">
            <input type="hidden" formControlName="id"> -->
            <input type="hidden" formControlName="idRequest">
    </form>

</ng-container>