<ng-container *ngIf="requests_ != null">
    <input type="button" value="Reload">
      <table border="1">
          <thead>
            <tr>
              <th>Complainer</th>
              <th>Department</th>
              <th>Handle</th>
              <th>Title</th>
              <th>Status</th>
              <th>SentDate</th>
              <th>End Date</th>
              <th>Priority</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of requests_">
              <td>{{request.idComplainNavigation.fullname}}</td>
              <td>{{request.idDepartmentNavigation.tenDepartment}}</td>
              <td>{{request.idHandleNavigation.fullname}}</td>
              <td>{{request.title}}</td>
              <td>{{request.status}}</td>
              <td>{{request.sentDate}}</td>
              <td>{{request.endDate}}</td>
              <td>{{request.priority}}</td>
              <td>
                <a [routerLink]="['/admin/request/detail/',request.id]">Detail</a> | 
                <input type="button" (click)="reprocess(request.id)" value="Reprocess">
              </td>
            </tr>
          </tbody>
        </table>
  </ng-container>