<div class="box-info">
    <ng-container *ngIf="requests_ != null">
        <input type="button" value="Reload" class="btn btn-primary btn-return mb-4" (click)="reload()">

        <table border="1" class="table table-striped table-hover " id="index-request2">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Complainer</th>
                    <th>Department</th>
                    <th>Handle</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>SentDate</th>
                    <th>Priority</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let request of requests_">
                    <td>
                        <a [routerLink]="['/admin/request/update/',request.id]" class="button btn-primary btn-update btn">Update</a>
                    </td>
                    <td>{{request.idComplainNavigation.fullname}}</td>
                    <td>{{request.idDepartmentNavigation.tenDepartment}}</td>
                    <td>{{request.idHandleNavigation.fullname}}</td>
                    <td>{{request.title}}</td>
                    <td>{{request.status}}</td>
                    <td>{{request.sentDate}}</td>
                    <td>{{request.priority}}</td>
                    <!-- <td>
                        <a [routerLink]="['/admin/request/update/',request.id]">Update</a>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>