<h3 class="fz-30 block text-center">Index</h3>
<ng-container *ngIf="roleClaims != null">
    <div class="box-info justify-center">

        <table class="table table-bordered table-striped " id="roleclaim-index-table">
            <thead>
                <tr>
                    <th>Name RoleClaim</th>
                    <th>Describe</th>
                    <th>Claim</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let roleClaim of roleClaims">
                    <td>{{roleClaim.name}}</td>
                    <td>{{roleClaim.describe}}</td>
                    <td>{{roleClaim.claim}}</td>
                    <td>
                        <a [routerLink]="['/admin/roleclaim/create']" class="button btn btn-primary btn-detail">Create</a>
                        <a [routerLink]="['/admin/roleclaim/update', {id: roleClaim.id}]" class="button btn btn-primary btn-update">Update</a>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>