<h3>Index</h3>
<ng-container *ngIf="roleClaims != null">

    <table border="1">
        <tr>
            <td>Name RoleClaim</td>
            <td>Describe</td>
            <td>Claim</td>
            <td>Action</td>
        </tr>
        <tr *ngFor="let roleClaim of roleClaims">
            <td>{{roleClaim.name}}</td>
            <td>{{roleClaim.describe}}</td>
            <td>{{roleClaim.claim}}</td>
            <td>
                <a [routerLink]="['/admin/roleclaim/update', {id: roleClaim.id}]">Update</a> |
                <a [routerLink]="['/admin/roleclaim/detail', {id: roleClaim.id}]">Detail</a>
            </td>
        </tr>
    </table>
</ng-container>