<ng-container *ngFor="let requestDetail of requestDetails">
  <table border="1">
    <tr>
        <td>Complainer: {{request.idComplainNavigation.fullname}}</td>
        <td>Department: {{request.idDepartmentNavigation.tenDepartment}}</td>
        <td>Handle: {{request.idHandleNavigation.fullname}}</td>
        <td>Status: {{requestDetail.status == 0 ? "Sending" : requestDetail.status == 1 ? "Solving" : requestDetail.status == 2 ?
           "Add more information" : requestDetail.status == 3 ? "Untreated" : "Completed"}}</td>
        <td>SentDate: {{request.sentDate}}</td>
        <td>Priority: {{request.priority ==1 ? "Low" : request.priority ==2 ? "Medium" : "Urgent"}}</td>
    </tr>
</table>
<div class="form-container">
    
    <!-- Cột trái trên -->
    <div class="top-left-column">
      <h5>id: {{requestDetail.id}}</h5>
      <h5>Complainer: {{request.idComplainNavigation.fullname}}</h5>
      <h5>Title: {{request.title}}</h5>
      <h5>Reason: {{requestDetail.reason}}</h5>
      <h5>File: </h5>
      
        <div *ngFor="let rf of requestFile">
        <p *ngIf="getIdFromFile(rf.name) == requestDetail.id"><a href="{{rf.name}}" target="_blank" >{{rf.file}}</a></p>
      </div>
      <h5>Status: {{requestDetail.status == 0 ? "Sending" : requestDetail.status == 1 ? "Solving" : requestDetail.status == 2 ?
        "Add more information" : requestDetail.status == 3 ? "Untreated" : "Completed"}}</h5>
      <p>Sent Date: {{request.sentDate}}</p>
    </div>
    <!-- Cột phải dưới -->
    <div class="bottom-right-column">
        <ng-container *ngIf="request.idHandle != null">
            <h5>Handle: {{request.idHandleNavigation.fullname}}</h5>
            <h5>Status: {{requestDetail.status == 0 ? "Sending" : requestDetail.status == 1 ? "Solving" : requestDetail.status == 2 ?
              "Add more information" : requestDetail.status == 3 ? "Untreated" : "Completed"}}</h5>
          <h5>Reply: {{requestDetail.reply}}</h5>
          <p>Sent Date: {{requestDetail.sentDate}}</p>
          <p *ngIf="requestDetail.payday != null">End Date:</p>
        </ng-container>
        
        
    </div>
    
  </div>
  <div class="form-container">
  </div>
  
</ng-container>
