<section class="ss page-404" style="margin-top:70px;
 padding: 0 !important">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="content">
                    <h1>Oops!</h1>
                    <p>We can't seem to find a page you are looking for</p>
                    <a href="/">BACK TO HOME</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="img">
                    <img src="assets/images/404.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>