<h1 class="fz-30 text-center block">Account Detail</h1>
<ng-container *ngIf="this.dataAccount!=null">
    <!-- <ng-container *ngIf="this.isAdmin()">
        <div class="box-buttons">

        </div>
    </ng-container> -->
    <div class="box-info">
        <ng-container *ngIf="this.isAdmin()">
            <p class="d-flex  align-items-start w-100 flex-column gap-1">
                <button type="button" class="btn btn-primary btn-return mb-4" [routerLink]="['/admin/account']"> return </button>
            </p>
        </ng-container>
        <p class="d-flex flex-column-reverse align-items-start w-100"><strong></strong>
            <!-- <img [src]="this.selectedFileUrl"> -->

            <span class="d-flex justify-content-start">
                <button type="button" class="btn btn-primary btn-update ">
                <label for="citizenidentification" style="margin:unset">{{(this.selectedFileUrl=='')?'choose file 123':'Have file'}} </label>
                <input type="file" id="citizenidentification" accept=".jpg,.jpeg,.png,.gif" multiple="false"
                    (change)="handleFileSelect($event)" style="display:none">
                </button>
                <button (click)="changePassword()" class="btn btn-primary btn-update " style="margin-left:20px"> Change Password</button>
                <ng-container *ngIf="this.isAdmin()">
                <button type="button" [routerLink]="['/admin/account/update/',dataAccount.id]" class="btn btn-primary btn-update " style="margin-left:20px">Update</button>
            </ng-container>
                <!--ảnh ở đây tự xử lý đi -->
            </span>
            <img id="preview" [src]="selectedFileUrl??'assets/fileadmin/dist/img/user2-160x160.jpg'" alt="Preview" style="margin-bottom: 20px;">
        </p>

        <p><strong>Id:</strong> {{ dataAccount.id }}</p>

        <p><strong>Username:</strong> {{ dataAccount.username }}</p>
        <!-- <p><strong>Role Admin :</strong> {{  this.dataAccount.idRoleNavigation.name}}</p> -->
        <p><strong>Department:</strong> {{ dataAccount.idDepartmentNavigation.tenDepartment }}</p>
        <p><strong>Fullname:</strong> {{ dataAccount.fullname }}</p>
        <p><strong>Email Address:</strong> {{ dataAccount.emailaddress }}</p>
        <p><strong>Phone Number:</strong> {{ dataAccount.phonenumber }}</p>
        <p><strong>Address:</strong> {{ dataAccount.address }}</p>

        <p><strong>Date of birth:</strong> {{ dataAccount.dateofbirth | date: this.validationService.DateConvert}}</p>
        <p><strong>Sex:</strong> {{ dataAccount.sex ? 'Male' : 'Female' }}</p>
        <p><strong>Status:</strong> {{ dataAccount.status ? 'Active' : 'Inactive' }}</p>
        <p><strong>Role Shool:</strong> {{ dataAccount.role }}</p>


        <ng-container *ngIf="this.dataAccount.role 'student'"></ng-container>
        <p><strong>Class:</strong> {{ dataAccount.class }}</p>
        <p><strong>School Year:</strong> {{ dataAccount.schoolyear | date:this.validationService.DateConvert}}</p>



        <ng-container *ngIf="this.dataAccount.role 'teacher'"></ng-container>
        <p><strong>Degree:</strong> {{ dataAccount.degree }}</p>
        <p><strong>Academic Rank:</strong> {{ dataAccount.academicrank }}</p>

    </div>
    <!-- <ul>
    <li *ngFor="let roleClaim of dataAccount.idRoleClaims">{{ roleClaim.name }} - {{ roleClaim.describe }}</li>
  </ul>
  <p><strong>Complains:</strong></p>
  <ul>
    <li *ngFor="let complain of dataAccount.requetIdComplainNavigations">{{ complain.title }} - {{ complain.status ? 'Active' : 'Inactive' }}</li>
  </ul>
  <p><strong>Handles:</strong></p>
  <ul>
    <li *ngFor="let handle of dataAccount.requetIdHandleNavigations">{{ handle.title }} - {{ handle.status ? 'Active' : 'Inactive' }}</li>
  </ul> -->

    <ng-container *ngif="this.dataAccount.idRole <=2">
        <div class="box-info">
            <h1>idRoleClaims</h1>

            <table class="table table-striped table-hover" id="account-detail-roleclaims">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>describe</th>
                        <th>claim</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let claim of dataAccount.idRoleClaims">
                        <td>{{claim.id}}</td>
                        <td>{{claim.name}}</td>
                        <td>{{claim.describe}}</td>
                        <td>{{claim.claim}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>

    <div class="box-buttons">
        <ng-container *ngIf="this.changePass">
            <ng-container *ngIf="!this.accountChangPass">
                <div class="admin-form">
                    <div class="admin-form-items">
                        <div class="admin-form-item">
                            <label for="password">Password:</label>
                            <input type="password" [(ngModel)]="this.password" [ngClass]="{'invalid': !this.checkPassword}">
                            <div *ngIf="!this.checkPassword"> password is not correct </div>
                            <div class="form-button" style="margin-top:20px">
                                <button (click)="checkPass()" class="btn btn-primary button-submit"> Submit </button>

                            </div>
                        </div>
                    </div>

                </div>
            </ng-container>
            <ng-container *ngIf="this.accountChangPass">
                <account-login #met></account-login>
            </ng-container>
        </ng-container>
    </div>
    <div class="box-info">
        <h1>requetIdComplainNavigations</h1>
        <div class="d-flex" style="width: 100%;margin-bottom: 20px;">
            <div class="col-2">New
                <div class="bg-new" style="width:40px; height:10px"></div>
            </div>
            <div class="col-2">
                Processing
                <div class="bg-processing" style="width:40px; height:10px"></div>
            </div>
            <div class="col-2">Accomplished
                <div class="bg-accomplished" style="width:40px; height:10px"></div>
            </div>
        </div>
        <table class="table table-striped table-hover" id="account-detail-request1">
            <thead>
                <tr>
                    <th></th>
                    <th>id</th>
                    <th>Department</th>

                    <th>title</th>
                    <th>status</th>
                    <th>level</th>
                    <th>sentDate</th>
                    <th>endDate</th>
                    <th>priority</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let handle of this.requetIdComplainNavigations" [ngClass]="{'bg-new
                ':handle.status==0,'bg-processing':handle.status>=1,'bg-accomplished':handle.status>3} ">
                    <td> <button type="button" [routerLink]="[(this.isAdmin()?'/admin/request/detail/':'/login/request/'),handle.id]" class="btn btn-primary btn-detail">Detail</button></td>

                    <td>{{handle.id}}</td>
                    <td>{{handle.idDepartmentNavigation.tenDepartment}}</td>
                    <td>{{handle.title}}</td>
                    <td>{{handle.status == 0 ? "Sending" : handle.status == 1 ? "Solving" : handle.status == 2 ? "Add more information" : handle.status == 3 ? "Untreated" : "Completed"}}</td>
                    <td>{{handle.level}}</td>
                    <td>{{handle.sentDate}}</td>
                    <td>{{handle.endDate}}</td>
                    <td>{{handle.priority ==1 ? "Low" : handle.priority ==2 ? "Medium" : "Urgent"}}</td>

                </tr>
            </tbody>
        </table>
    </div>


    <ng-container *ngIf="this.accountLogin.idRole < 3">


        <div class="box-info">
            <h1>Request accomplished</h1>
            <div class="d-flex" style="width: 100%;margin-bottom: 20px">
                <div class="col-2">New
                    <div class="bg-new" style="width:40px; height:10px"></div>
                </div>
                <div class="col-2">
                    Processing
                    <div class="bg-processing" style="width:40px; height:10px"></div>
                </div>
                <div class="col-2">Accomplished
                    <div class="bg-accomplished" style="width:40px; height:10px"></div>
                </div>
            </div>
            <table class="table table-striped table-hover" id="account-detail-request2">
                <thead>
                    <tr>
                        <th></th>
                        <th>id</th>
                        <th>Department</th>
                        <th>title</th>
                        <th>status</th>
                        <th>level</th>
                        <th>sentDate</th>
                        <th>endDate</th>
                        <th>priority</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let request of this.requetIdHandleNavigations" [ngClass]="{'bg-new
':request.status==0,'bg-processing':request.status>=1,'bg-accomplished':request.status>3} ">
                        <td> <button type="button" [routerLink]="[(this.isAdmin()?'/admin/request/detail/':'/login/request/'),request.id]" class="btn btn-primary btn-detail">Detail</button></td>
                        <td>{{request.id}}</td>
                        <td>{{request.idDepartmentNavigation.tenDepartment}}</td>
                        <td>{{request.status == 0 ? "Sending" : request.status == 1 ? "Solving" : request.status == 2 ? "Add more information" : request.status == 3 ? "Untreated" : "Completed"}}</td>
                        <td>{{request.status}}</td>
                        <td>{{request.level}}</td>
                        <td>{{request.sentDate}}</td>
                        <td>{{request.endDate}}</td>
                        <td>{{request.priority ==1 ? "Low" : request.priority ==2 ? "Medium" : "Urgent"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>

</ng-container>