
<ng-container *ngIf="department != null">
    <div class="box-info">
        <h1>Detail Department</h1>

        <table class="table table-striped table-hover" id="detail-account-request1">

            <thead>
                <tr>
                    <th>Name Department</th>
                    <th>Describe</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Handle</th>
                    <th>Gender</th>
                    <th>Email address</th>
                    <th>Phone Number</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{department.tenDepartment}}</td>
                    <td>{{department.describe}}</td>
                    <td>{{department.address}}</td>
                    <td>{{department.status}}</td>
                    <td>{{account.fullname}}</td>
                    <td>{{account.sex}}</td>
                    <td>{{account.emailaddress}}</td>
                    <td>{{account.phonenumber}}</td> 
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>