<h3 class="fz-30 text-center block">Index</h3>
<ng-container *ngIf="departments != null">
    <div class="box-info justify-center">

        <table class="table table-bordered table-striped" id="department-index-table">
            <thead>
                <tr>
                    <th>Name Department</th>
                    <th>Describe</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let department of departments">
                    <td>{{department.tenDepartment}}</td>
                    <td>{{department.describe}}</td>
                    <td>{{department.address}}</td>
                    <td>{{department.status}}</td>
                    <td><a [routerLink]="['/admin/department/detail', {id: department.id}]" class="button btn btn-primary btn-detail">Detail</a>
                        <a [routerLink]="['/admin/department/update', {id: department.id}]" class="button btn btn-primary btn-update">Update</a>
                        <a [routerLink]="['/admin/department/delete', {id: department.id}]" (click)="delete(department.id)" class="button btn btn-primary btn-delete">Delete</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</ng-container>