<h3>Create</h3>
<ng-container *ngIf="formGroup!=null">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <!-- <div>
      <label for="username">Username  :</label>
      <input type="text" id="username" formControlName="username" [ngClass]="{'invalid': validationService.getErrorAddClass('username', formGroup)}">
      <div *ngIf="validationService.getErrorText('username', 'username', formGroup)">{{ validationService.getErrorText('username', 'username', formGroup) }}</div>
    </div> -->


    <!-- <div>
      <label>Status:&nbsp; &nbsp; </label>

        <label for="active"> &nbsp; Active &nbsp; </label>
        <input type="radio" id="active" name="status" value="active" formControlName="status">
        <label for="inactive"> &nbsp; Inactive &nbsp; </label>
        <input type="radio" id="inactive" name="status" value="inactive" formControlName="status">

      <div *ngIf="validationService.getErrorText('status', 'status', formGroup)">{{ validationService.getErrorText('status', 'status', formGroup) }}</div>
    </div> -->
    <div>
      <label for="emailaddress">Email and Username :</label>
      <input type="text" id="emailaddress" formControlName="emailaddress" [ngClass]="{'invalid': validationService.getErrorAddClass('emailaddress', formGroup)}">
      <div *ngIf="validationService.getErrorText('emailaddress', 'emailaddress', formGroup)">{{ validationService.getErrorText('emailaddress', 'emailaddress', formGroup) }}</div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" [ngClass]="{'invalid': validationService.getErrorAddClass('password', formGroup)}">
      <div *ngIf="validationService.getErrorText('password', 'password', formGroup)">{{ validationService.getErrorText('password', 'password', formGroup) }}</div>
    </div>
    <div>

      <label for="idRole">Role Admin :</label>
      <ng-container *ngIf="roles!=null">

          <select id="idRole" formControlName="idRole" [ngClass]="{'invalid': validationService.getErrorAddClass('idRole', formGroup)}">
            <option
               *ngFor="let role of this.roles" value="{{role.id}}" >  {{ role.name }}
            </option>

          </select>
          <div *ngIf="validationService.getErrorText('idRole', 'Role Admin', formGroup)">{{ validationService.getErrorText('idRole', 'Role Admin', formGroup) }}</div>
      </ng-container>

    </div>
    <div>

      <label for="idDepartment">Department:</label>
      <ng-container *ngIf="this.departments!=null">
        <select id="idDepartment" formControlName="idDepartment" [ngClass]="{'invalid': validationService.getErrorAddClass('idDepartment', formGroup)}">
          <option *ngFor="let department of this.departments" value="{{ department.id}}">
            {{department.tenDepartment }}+123</option>
        </select>
    </ng-container>
      <div *ngIf="validationService.getErrorText('idDepartment', 'idDepartment', formGroup)">{{ validationService.getErrorText('idDepartment', 'idDepartment', formGroup) }}</div>
    </div>
    <div>
      <label for="fullname">Fullname:</label>
      <input type="text" id="fullname" formControlName="fullname" [ngClass]="{'invalid': validationService.getErrorAddClass('fullname', formGroup)}">
      <div *ngIf="validationService.getErrorText('fullname', 'fullname', formGroup)">{{ validationService.getErrorText('fullname', 'fullname', formGroup) }}</div>
    </div>

    <div>
      <label for="phonenumber">Phone Number:</label>
      <input type="text" id="phonenumber" formControlName="phonenumber" [ngClass]="{'invalid': validationService.getErrorAddClass('phonenumber', formGroup)}">
      <div *ngIf="validationService.getErrorText('phonenumber', 'phonenumber', formGroup)">{{ validationService.getErrorText('phonenumber', 'phonenumber', formGroup) }}</div>
    </div>
    <div>
      <label for="address">Address:</label>
      <input type="text" id="address" formControlName="address" [ngClass]="{'invalid': validationService.getErrorAddClass('address', formGroup)}">
      <div *ngIf="validationService.getErrorText('address', 'address', formGroup)">{{ validationService.getErrorText('address', 'address', formGroup) }}</div>
    </div>
    <div>
      <label for="fileInput">Image Account :</label>
      <button type="button" >
        <label  for="citizenidentification">{{(this.selectedFileUrl=='')?'choose file 123':'Have file'}}</label>
        <input type="file" id="citizenidentification" accept=".jpg,.jpeg,.png,.gif" multiple="false"
        (change)="handleFileSelect($event)" style="display:none">
      </button>
      <!--ảnh ở đây tự xử lý đi -->
      <ng-container *ngIf="selectedFileUrl!=''">
        <img id="preview" [src]="selectedFileUrl" alt="Preview">
      </ng-container>

    </div>
    <div>
      <label for="dateofbirth">Date of Birth:</label>
      <input type="date" id="dateofbirth" formControlName="dateofbirth" [ngClass]="{'invalid': validationService.getErrorAddClass('dateofbirth', formGroup)}">
      <div *ngIf="validationService.getErrorText('dateofbirth', 'dateofbirth', formGroup)">{{ validationService.getErrorText('dateofbirth', 'dateofbirth', formGroup) }}</div>
    </div>
    <div>
      <label>Sex:</label>
      <div>
        <label for="male">Male</label>
        <input type="radio" id="male" name="sex" value="false" formControlName="sex">
        <label for="female">Female</label>
        <input type="radio" id="female" name="sex" value="true" formControlName="sex">
      </div>
      <div *ngIf="validationService.getErrorText('sex', 'sex', formGroup)">{{ validationService.getErrorText('sex', 'sex', formGroup) }}</div>
    </div>

    <div>
      <label for="role">Role Shool :</label>
      <ng-container *ngIf="roles!=null">
        <div>
          <select id="role" formControlName="role" [ngClass]="{'invalid': validationService.getErrorAddClass('role', formGroup)}">
              <option value="teacher">teacher</option>
              <option value="student">student</option>

          </select>
          <div *ngIf="validationService.getErrorText('role', 'role', formGroup)">{{ validationService.getErrorText('role', 'role', formGroup) }}</div>
        </div>

      </ng-container>

    </div>
    <h2>Student </h2>
    <div>
      <label for="class">Class:</label>
      <input type="text" id="class" formControlName="class" [ngClass]="{'invalid': validationService.getErrorAddClass('class', formGroup)}">
      <div *ngIf="validationService.getErrorText('class', 'class', formGroup)">{{ validationService.getErrorText('class', 'class', formGroup) }}</div>
    </div>

    <div>
      <label for="schoolyear">School Year:</label>
      <input type="date" id="schoolyear" formControlName="schoolyear" [ngClass]="{'invalid': validationService.getErrorAddClass('schoolyear', formGroup)}" >
      <div *ngIf="validationService.getErrorText('schoolyear', 'schoolyear', formGroup)">{{ validationService.getErrorText('schoolyear', 'schoolyear', formGroup) }}</div>
    </div>
    <h2>Teacher</h2>
    <div>
      <label for="degree" >Degree:</label>
      <input required type="text" id="degree" formControlName="degree" [ngClass]="{'invalid': validationService.getErrorAddClass('degree', formGroup)}">
      <div *ngIf="validationService.getErrorText('degree', 'degree', formGroup)">{{ validationService.getErrorText('degree', 'degree', formGroup) }}</div>
    </div>
    <div>
      <label for="academicrank">Academic Rank:</label>
      <input type="text" id="academicrank" formControlName="academicrank" [ngClass]="{'invalid': validationService.getErrorAddClass('academicrank', formGroup)}">
      <div *ngIf="validationService.getErrorText('academicrank', 'academicrank', formGroup)">{{ validationService.getErrorText('academicrank', 'academicrank', formGroup) }}</div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="isLoading">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-2"></span>
      {{ isLoading ? 'Loading...' : 'Submit' }}
    </button>
  </form>
</ng-container>
