<h3>
    Index123</h3>
<h1>Index12345</h1>
<account-login></account-login>

<div class="box-info">
    <div class="box-search">
        Search:<input type="text" [(ngModel)]="this.textSearch" placeholder="if search date search dd/MM/yyyy"> Search Include Delete : <input type="checkbox" [(ngModel)]="this.statusSearch">
        <button type="button" (click)="search()"><i class="fa fa-search" aria-hidden="true"></i>
      Serach</button>
        <button type="button" (click)="reload()">Reload </button>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped dataTable dtr-inline">

            <thead>
                <th>Id</th>
                <th>Username</th>
                <th>Role Admin</th>
                <th>Department</th>
                <th>Fullname</th>
                <th>Emailaddress</th>
                <th>Phonenumber</th>
                <th>Address</th>
                <th>Img File</th>
                <th>Dateofbirth</th>
                <th>Sex</th>
                <th>Status</th>
                <th>Role School</th>
                <th>Class</th>
                <th>Schoolyear</th>
                <th>Degree</th>
                <th>Academicrank</th>
                <th>Action</th>
            </thead>
            <tbody>
                <ng-container *ngIf="this.dataAccounts!=null">
                    <tr *ngFor="let data of dataAccounts">
                        <td>{{data.id}}</td>
                        <td>{{data.username}}</td>

                        <td>{{data.idRoleNavigation.name}}</td>
                        <td>{{data.idDepartmentNavigation.tenDepartment}}</td>
                        <td>{{data.fullname}}</td>
                        <td>{{data.emailaddress}}</td>
                        <td>{{data.phonenumber}}</td>
                        <td>{{data.address}}</td>
                        <td><img src="{{(data.citizenidentification!=null&&data.citizenidentification!='')?this.urlImg+data.citizenidentification:'assets/fileadmin/dist/img/user2-160x160.jpg'}}">
                        </td>
                        <td>{{data.dateofbirth | date: this.validatorService.DateConvert }}</td>
                        <td>{{data.sex ? 'Male' : 'Female'}}</td>
                        <td>{{data.status ? 'Active' : 'Inactive'}}</td>
                        <td>{{data.role}}</td>
                        <td>{{data.class}}</td>
                        <td>{{data.schoolyear | date: this.validatorService.DateConvert}}</td>
                        <td>{{data.degree}}</td>
                        <td>{{data.academicrank}}</td>
                        <td>

                            <button type="button" (click)="delete(data.id,data.username)" class="btn btn-primary button-submit btn-delete" [disabled]="isLoading ">
                            <span *ngIf="isLoading " class="spinner-border spinner-border-sm mr-2 "></span>
                            {{ isLoading ? 'Loading...' : 'Delete' }}
                            </button>
                            <button type="button " [routerLink]="['/admin/account/update/',data.id]" class="btn btn-primary button-submit btn-update">Update</button>
                            <button type="button " [routerLink]="['/admin/account/detail/',data.id]" class="btn btn-primary button-submit btn-detail">Detail</button>
                        </td>
                    </tr>

                </ng-container>
            </tbody>

        </table>
    </div>
</div>

<account_information></account_information>