<h3 class="text-center fz-30 block">Create</h3>
<ng-container *ngIf="formGroup!=null">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="admin-form ">
        <div class="admin-form-items">
            <!-- <div class="admin-form-item" >
      <label for="username">Username  :</label>
      <input type="text" id="username" formControlName="username" [ngClass]="{'invalid': validationService.getErrorAddClass('username', formGroup)}">
      <div class="form-create-mess" *ngIf="validationService.getErrorText('username', 'username', formGroup)">{{ validationService.getErrorText('username', 'username', formGroup) }}</div>
    </div> -->


            <!-- <div class="admin-form-item" >
      <label>Status:&nbsp; &nbsp; </label>

        <label for="active"> &nbsp; Active &nbsp; </label>
        <input type="radio" id="active" name="status" value="active" formControlName="status">
        <label for="inactive"> &nbsp; Inactive &nbsp; </label>
        <input type="radio" id="inactive" name="status" value="inactive" formControlName="status">

      <div class="form-create-mess" *ngIf="validationService.getErrorText('status', 'status', formGroup)">{{ validationService.getErrorText('status', 'status', formGroup) }}</div>
    </div> -->
            <div class="admin-form-item">
                <label for="emailaddress">Email and Username :</label>
                <input type="text" id="emailaddress" formControlName="emailaddress" [ngClass]="{'invalid': validationService.getErrorAddClass('emailaddress', formGroup) || this.isEmailConfirm}">
                <div class="form-create-mess" *ngIf="(validationService.getErrorAddClass('emailaddress', formGroup) || this.isEmailConfirm)">{{ validationService.getErrorText('emailaddress', 'emailaddress', formGroup) }} &emsp; &emsp; &emsp; {{this.isEmailConfirm?'Username is exists ! ':''}} </div>
            </div>
            <div class="admin-form-item">
                <label for="password">Password:</label>
                <input type="password" id="password" formControlName="password" [ngClass]="{'invalid': validationService.getErrorAddClass('password', formGroup)}">
                <div class="form-create-mess" *ngIf="validationService.getErrorAddClass('password', formGroup)">{{ validationService.getErrorText('password', 'password', formGroup) }}</div>
            </div>
            <div class="admin-form-item">
                <label for="password">Password Confirm :</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" [ngClass]="{'invalid': validationService.getErrorAddClass('confirmPassword', formGroup)}">
                <div class="form-create-mess" *ngIf="validationService.getErrorText('confirmPassword', 'confirmPassword', formGroup)">{{ validationService.getErrorText('confirmPassword', 'Password', formGroup) }}</div>
            </div>
            <div class="admin-form-item">




                <label for="idRole">Role Admin :</label>
                <ng-container *ngIf="roles!=null">

                    <select id="idRole" formControlName="idRole" (change)="roleSelect($event)" [ngClass]="{'invalid': validationService.getErrorAddClass('idRole', formGroup)}">
            <option
               *ngFor="let role of this.roles" value="{{role.id}}" >  {{ role.name }}
            </option>

          </select>
                    <div class="form-create-mess" *ngIf="validationService.getErrorText('idRole', 'Role Admin', formGroup)">{{ validationService.getErrorText('idRole', 'Role Admin', formGroup) }}</div>
                </ng-container>

            </div>
            <div class="admin-form-item">

                <label for="idDepartment">Department:</label>
                <ng-container *ngIf="this.departments!=null">
                    <select id="idDepartment" formControlName="idDepartment" [ngClass]="{'invalid': validationService.getErrorAddClass('idDepartment', formGroup)}">
          <option *ngFor="let department of this.departments" value="{{ department.id}}">
            {{department.tenDepartment }}+123</option>
        </select>
                </ng-container>
                <div class="form-create-mess" *ngIf="validationService.getErrorText('idDepartment', 'idDepartment', formGroup)">{{ validationService.getErrorText('idDepartment', 'idDepartment', formGroup) }}</div>
            </div>
            <div class="admin-form-item">
                <label for="fullname">Fullname:</label>
                <input type="text" id="fullname" formControlName="fullname" [ngClass]="{'invalid': validationService.getErrorAddClass('fullname', formGroup)}">
                <div class="form-create-mess" *ngIf="validationService.getErrorText('fullname', 'fullname', formGroup)">{{ validationService.getErrorText('fullname', 'fullname', formGroup) }}</div>
            </div>

            <div class="admin-form-item">
                <label for="phonenumber">Phone Number:</label>
                <input type="text" id="phonenumber" formControlName="phonenumber" [ngClass]="{'invalid': validationService.getErrorAddClass('phonenumber', formGroup)}">
                <div class="form-create-mess" *ngIf="validationService.getErrorText('phonenumber', 'phonenumber', formGroup)">{{ validationService.getErrorText('phonenumber', 'phonenumber', formGroup) }}</div>
            </div>
            <div class="admin-form-item">
                <label for="address">Address:</label>
                <input type="text" id="address" formControlName="address" [ngClass]="{'invalid': validationService.getErrorAddClass('address', formGroup)}">
                <div class="form-create-mess" *ngIf="validationService.getErrorText('address', 'address', formGroup)">{{ validationService.getErrorText('address', 'address', formGroup) }}</div>
            </div>
            <div class="admin-form-item">
                <label for="fileInput">Image Account :</label>
                <div class="d-flex flex-column-reverse align-items-start">
                    <button type="button" class="btn btn-primary btn-update">
                        <label  for="citizenidentification" style="margin:unset">{{(this.selectedFileUrl=='')?'choose file 123':'Have file'}}</label>
                        <input type="file" id="citizenidentification" accept=".jpg,.jpeg,.png,.gif" multiple="false"
                        (change)="handleFileSelect($event)" style="display:none">
                    </button>
                    <!--ảnh ở đây tự xử lý đi -->
                    <ng-container *ngIf="selectedFileUrl!=''">
                        <img id="preview" [src]="selectedFileUrl??'assets/fileadmin/dist/img/user2-160x160.jpg'" alt="Preview" class="mb-4">
                    </ng-container>
                </div>
            </div>
            <div class="admin-form-item">
                <label for="dateofbirth">Date of Birth:</label>
                <input type="date" id="dateofbirth" formControlName="dateofbirth" [ngClass]="{'invalid': validationService.getErrorAddClass('dateofbirth', formGroup)}">
                <div class="form-create-mess" *ngIf="validationService.getErrorText('dateofbirth', 'dateofbirth', formGroup)">{{ validationService.getErrorText('dateofbirth', 'dateofbirth', formGroup) }}</div>
            </div>
            <div class="admin-form-item">
                <label>Sex:</label>
                <div class="admin-form-item">
                    <label for="male">Male</label>
                    <input type="radio" id="male" name="sex" value="false" formControlName="sex">
                    <label for="female">Female</label>
                    <input type="radio" id="female" name="sex" value="true" formControlName="sex">
                </div>
                <div class="form-create-mess" *ngIf="validationService.getErrorText('sex', 'sex', formGroup)">{{ validationService.getErrorText('sex', 'sex', formGroup) }}</div>
            </div>

            <div class="admin-form-item">
                <label for="role">Role Shool :</label>
                <ng-container *ngIf="roles!=null">
                    <div>
                        <select id="role" formControlName="role" [ngClass]="{'invalid': validationService.getErrorAddClass('role', formGroup)}">
              <option value="teacher">teacher</option>
              <option value="student">student</option>

          </select>
                        <div class="form-create-mess" *ngIf="validationService.getErrorText('role', 'role', formGroup)">{{ validationService.getErrorText('role', 'role', formGroup) }}</div>
                    </div>

                </ng-container>

            </div>
            <h2>Student </h2>
            <div class="admin-form-item">
                <label for="class">Class:</label>
                <input type="text" id="class" formControlName="class" [ngClass]="{'invalid': validationService.getErrorAddClass('class', formGroup)}">
                <div class="form-create-mess" *ngIf="validationService.getErrorText('class', 'class', formGroup)">{{ validationService.getErrorText('class', 'class', formGroup) }}</div>
            </div>

            <div class="admin-form-item">
                <label for="schoolyear">School Year:</label>
                <input type="date" id="schoolyear" formControlName="schoolyear" [ngClass]="{'invalid': validationService.getErrorAddClass('schoolyear', formGroup)}">
                <div class="form-create-mess" *ngIf="validationService.getErrorText('schoolyear', 'schoolyear', formGroup)">{{ validationService.getErrorText('schoolyear', 'schoolyear', formGroup) }}</div>
            </div>
            <h2>Teacher</h2>
            <div class="admin-form-item">
                <label for="degree">Degree:</label>
                <input required type="text" id="degree" formControlName="degree" [ngClass]="{'invalid': validationService.getErrorAddClass('degree', formGroup)}">
                <div class="form-create-mess" *ngIf="validationService.getErrorText('degree', 'degree', formGroup)">{{ validationService.getErrorText('degree', 'degree', formGroup) }}</div>
            </div>
            <div class="admin-form-item">
                <label for="academicrank">Academic Rank:</label>
                <input type="text" id="academicrank" formControlName="academicrank" [ngClass]="{'invalid': validationService.getErrorAddClass('academicrank', formGroup)}">
                <div class="form-create-mess" *ngIf="validationService.getErrorText('academicrank', 'academicrank', formGroup)">{{ validationService.getErrorText('academicrank', 'academicrank', formGroup) }}</div>
            </div>
            <div class="form-button">
                <button type="submit" class="btn btn-primary button-submit" [disabled]="isLoading">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-2"></span>
      {{ isLoading ? 'Loading...' : 'Submit' }}
    </button>
                <button type="button" class="btn btn-primary button-submit" (click)="reload()">Reset</button>
            </div>
        </div>
    </form>

</ng-container>



<ng-container *ngIf="this.roleClaimStatus">
    <ng-container *ngIf="this.roleClaims!=null">
        <div class="box-info justify-center">
            <h1>Role Claim Admin </h1>
            <table class="table table-striped table-hover" id="account-update-roleclaim">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Claim</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let roleClaim of roleClaimResult">

                        <td>{{ roleClaim.Role.name }}</td>
                        <td>{{ roleClaim.Role.describe }}</td>
                        <td>{{ roleClaim.Role.claim }}</td>
                        <td><input type="checkbox" [(ngModel)]="roleClaim.select"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </ng-container>
</ng-container>