<header id="header" class="fixed-top d-flex align-items-center" style="position:relative !important;">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="/assets/filehome/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/filehome/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/filehome/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/filehome/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/filehome/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/filehome/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/fileadmin/dist/css/style.css">
    <link rel="stylesheet" href="/assets/fileadmin/dist/icon/fontawesome-free-6.4.0/css/all.min.css">

    <div class="container d-flex justify-content-between">

        <div class="logo">
            <h1><a href="/">TTTN-OHD</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/filehome/img/logo.png" alt="" class="img-fluid"></a> -->
        </div>

        <nav id="navbarhome" class="navbar navbarhome">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Utilities</a></li>
                <li><a class="nav-link scrollto " href="#testimonials">Testimonials</a></li>
                <li><a class="nav-link scrollto" href="#team">Team</a></li>

                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <ng-container *ngIf="accountLogin == null">
                    <li><a class="nav-link scrollto" href="#" onclick="document.getElementById('loginFrom').style.display='block'">Login</a></li>
                </ng-container>
                <ng-container *ngIf="accountLogin != null">
                    <li class="dropdown"><a href="#"><span>{{accountLogin.username}}</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>

                            <li><a [routerLink]="[ 'login/profile']" class="justify-content-start"><i class="fa-solid fa-address-card"style="margin-right:10px"></i>Profile</a></li>
                            <li><a [routerLink]="[ 'login/requestcreate']" class="justify-content-start"><i class="fa-solid fa-person-circle-question"style="margin-right:10px"></i>Create Request</a></li>
                            <li><a href="#" (click)="logout()" class="justify-content-start"><i class="fa-solid fa-right-from-bracket" style="margin-right:10px"></i>Logout</a></li>

                        </ul>
                    </li>
                </ng-container>
                <ng-container *ngIf="roleAccount <= 1">
                    <li><a class="nav-link scrollto" [routerLink]="['admin']">Admin</a></li>
                </ng-container>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

    </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<router-outlet></router-outlet>
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>TTTN-OHD</h3>
                        <p>
                            D5 Street <br> BINH THANH, HCM<br><br>
                            <strong>Phone:</strong>+84 96 132 6475<br>
                            <strong>Email:</strong> info@ohd.tttn.edu.vn<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i><a class="nav-link scrollto active" href="#hero">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i><a class="nav-link scrollto" href="#about">About</a></li>
                        <li><i class="bx bx-chevron-right"></i><a class="nav-link scrollto" href="#services">Utilities</a></li>
                        <li><i class="bx bx-chevron-right"></i><a class="nav-link scrollto " href="#testimonials">Testimonials</a></li>
                        <li><i class="bx bx-chevron-right"></i><a class="nav-link scrollto" href="#team">Team</a></li>


                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <!-- <p>Send us a support request</p> -->
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>TTTN-OHD</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
            <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
        </div>
    </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->